---
title: TDD Day 1
---
%h3
  Background
%p
  I've been feeling for a while now that I'd like to be a better programmer. Right now I can make stuff happen, but I usually don't think it’s particularly well designed. Since it’s a new year, full of possibilities, I thought I'd spend some time working on my programming skills. With that in mind I asked my boss what he thought I needed to work on most. His answer: TDD. So here I am, trying to do 30 days of thoughtful practice of TDD.
%h3
  What did I do today?
%p
  Today I didn't really get anything done. I spent some time reading about TDD, mostly looking for some resources that I can work with for the next 29 days. In case it’s helpful to anyone else, here’s what I've found so far:
%ul
  %li #{link_to 'TDD video lessons', 'https://www.youtube.com/playlist?list=PLVBFw0Pn9e9IduDzgOx7Yoh0ur7SZa7hu'}
  %li #{link_to 'TDD by example,', 'http://www.amazon.com/dp/0321146530/?tag=stackoverfl08-20'} book
  %li #{link_to 'Ruby Best Practices', 'http://www.amazon.com/Ruby-Best-Practices-Gregory-Brown/dp/0596523009'}
  %li how to set up #{link_to 'autotest-rails', 'http://nubyonrails.com/articles/autotest-rails'}
  %li #{link_to 'RSpec 2', 'https://peepcode.com/products/rspec-i'} on Peepcode (paid)
  %li #{link_to 'Game of life in TDD', 'http://www.rubyinside.com/screencast-coding-conways-game-of-life-in-ruby-the-tdd-way-with-rspec-5564.html'}
  %li lots of #{link_to 'RailsCasts', 'http://railscasts.com/?page=1&tag_id=7'} (mostly paid)
  %li a couple of #{link_to 'katas', 'http://osherove.com/tdd-kata-1/'}
  %li and a few more #{link_to 'katas', 'http://content.codersdojo.org/code-kata-catalogue/'}
%p
  Hopefully that list helps someone else out there. If you have any suggestions please let me know - I'm sure it'll take me plenty of time to get through all that, but if there’s something better or particularly helpful, I'm all ears!

%p
  The last one looked pretty promising so I tried getting set up with that gem. Unfortunately I hit a snag on installing that today, so I'll give it another go tomorrow.

%h3
  Reflections
%p
  I'm not really completely convinced about TDD or testing in general. We didn't test at all in my last job, and one of my requirements for my current job was that they test so I could learn how to test properly. But in reality, I'm not sure how often I've had a test really save me from pushing bad code. Overall it seems like I just go back to update the test, which, as far as I can tell, is just making more work for me without really helping the codebase in general. Perhaps I'm doing it wrong and I shouldn't be updating the tests as often. Perhaps that is the price you pay for “peace of mind.” I probably haven't written (good) enough tests for them to be able to stop me from pushing bad code. I'm hoping this next month will help me better understand what testing is all about.