---
title: RubyConf - a look back
---
%p
  It's been almost 3 weeks since RubyConf. Feels like longer. I wrote a #{link_to 'quick review', '/blog/2014/RubyConfAU/'} after the event, but that post didn't do RubyConf justice.
%p
  Really, I'm not sure what made RubyConf so great. The talks? Meeting new people? Chatting with existing friends? Learning? Seeing so many people interested in the same thing? I don't know. Everything there was pretty amazing.
%p
  But for me, the most amazing part was what happened when I left. When I went back to work. When the talks were over, and my friends dispersed. Once I'd caught up on sleep and headed back to the "real world" I found I had more confidence as a programmer. A lot more. Enough to go out and make my #{link_to 'Python 101 study group', '/resources/udacity-python-study-group/'} happen. Enough to tell my team why I was unhappy with our process (something they took very seriously and changed quickly - I love #{link_to 'my team', '/resources/job/'}). Enough to feel like I have useful opinions.
%p
  Not that I thought of myself as dumb or useless, just that I assumed my experience level excluded me from ... something. As the least experienced member of our team I'm used to not knowing things, asking questions, and trying to keep up with everyone else. Somehow RubyConf reminded me of what I have learned in the past 2 years of Ruby. It reminded me of the great community I'm part of, and help form through #{link_to 'RailsGirls', 'http://railsgirls.com/sydney'}, #{link_to 'Installfest, and DevHub', 'http://www.meetup.com/Ruby-On-Rails-Oceania-Sydney/'}. People asked me my opinion about things (ok, sure those things were mostly about being a woman in tech, but still, it made me feel valued), and I actually understood most of the talks I watched (not all, but most, always room to grow!). And people knew me - after living in Sydney for almost a year now, RubyConf made me feel like I belonged.
%p
  I know there were many #{link_to 'different', 'http://sampeters.net/blog/meetups-hubs-and-casual-get-togethers-and-the-developer-community/'} #{link_to 'reactions', 'http://ruby.org.au/articles'} to RubyConf. But I'd like to add mine to the mix. It was amazing - both before and after.