- wrap_layout :layout do
  %div{class: (current_page.data.page_class || '') + ' blog-listing'}
    .meta
      %h1= current_page.data.title
      %p Published on: #{current_page.date.strftime("%B %e, %Y")}

      - if current_page.methods.include?(:tags) && current_page.tags.count > 0
        %p Tags: #{ current_page.tags.map{ |tag| link_to "#{tag}", tag_path(tag) }.to_sentence }

    = find_and_preserve do
      = yield


    / .recommended-reading
    /   %h2 Recommended reading
    /   - recommended_reading = random_popular_post(current_page)
    /   %p You might also like #{link_to(recommended_reading.data.title, recommended_reading)}


    - unless current_page.data.no_comments
      #disqus_thread
        %hr
        :javascript
          var disqus_shortname = 'lucybain';
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        %noscript
          Please enable JavaScript to view the
          %a{href: "http://disqus.com/?ref_noscript"} comments powered by Disqus.
        %a.dsq-brlink{href: "http://disqus.com"}
          comments powered by
          %span.logo-disqus Disqus
        :javascript
          var disqus_shortname = 'lucybain';
          (function () {
              var s = document.createElement('script'); s.async = true;
              s.type = 'text/javascript';
              s.src = '//' + disqus_shortname + '.disqus.com/count.js';
              (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
          }());
