!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %link{href: "images/favicon.ico", rel: "icon", type: "image/ico"}/
    %title= current_page.data.title || "Lucy Bain"
    = stylesheet_link_tag "application"
    = javascript_include_tag  "all"
  %body{class: page_classes}
    = partial "layouts/shared/header"
    = yield
    =# partial "layouts/shared/footer"