<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <%= partial "layouts/shared/head" %>
  </head>
  <body class="<%= current_page.data.page_class %>">
    <%= partial "layouts/shared/header" %>
    <div class="content">
      <%= yield %>
    </div>
  </body>
  <%= partial "layouts/shared/analytics" %>
</html>
