---
summary: "RG summary"
---

%h1.title
  = page_title(current_page)
.body
  %div
    Here are some sample paragraphs:
  %p
    The global pool of wealth is bigger than ever. Credit Suisse’s 2013 Global Wealth Report puts it at $241 trillion, or 68 percent bigger than a decade ago. That’s not to say that it is being spread more evenly—10 percent of <b>the world’s population possesses 86 percent of the money.</b> Wealth is being created and stockpiled so fast, the report projects, that in just two generations’ time, there could be 1 billion millionaires in the world. That means roughly 1 in 5 adults could soon call themselves a millionaire.
  %h2
    Billionaires
  %p
    Even billionaires aren’t the exotic species they once were. According to Forbes, there are 1,426 of them today, with more than 200 of them having reached 10-figure status in the last year alone. When Forbes started its billionaire list 25 years ago, there were only 140. It’s hard to imagine the likes of Evan Spiegel, 23-year-old co-founder of Snapchat, turning down multibillion-dollar offers from Google and Facebook even a couple of years ago. Hitting the 10-figure mark: not as cool as it used to be.
  %h3
    Even China has rare earth metals
  %p
    China has a virtual Rockefeller-like monopoly on rare Earth metals.
    It wasn’t always so easy. When John D. Rockefeller rose from a clerk earning 50 cents a day at a produce company to become the world’s first billionaire a century ago, the fortune he amassed would have made Bill Gates swoon. In 1918, Rockefeller’s taxable income was a staggering $33 million, or slightly more than $550 million in today’s dollars. That dwarfs Warren Buffett’s 2010 tax bill, where he paid just under $7 million on $40 million in taxable income. At the time, Rockefeller’s fortune alone amounted to 1.53 percent of the U.S. economy, the equivalent of some $350 billion today.
  %p
    Nulla facilisi. Nunc sodales lacus ac neque interdum, non vehicula quam auctor. Maecenas blandit lectus ut imperdiet malesuada. Etiam euismod tristique augue, quis placerat tortor porta ac. Aliquam non dolor eget sem viverra porta. Vestibulum faucibus iaculis placerat. Nulla sed purus hendrerit, varius lacus sit amet, imperdiet nulla. In hac habitasse platea dictumst.
  %div
    And now for a list
  %ul
    %li
      First
    %li
      Second
    %li
      Donec euismod elementum quam non pharetra. Praesent neque neque, ultricies at est vestibul
  %ol
    %li
      Wow, lists within lists!
    %li
      This one has numbers
    %li
      such a great list
    %li
      Porta ac. Aliquam non dolor eget sem viverra porta. Vestibulum faucibus iaculi
  %div
    And perhaps some links
  %p
    We'll put them inside a paragraph
    = link_to 'RailsGirls', 'http://railsgirls.com/'
    like this. So you can see how it would probably look. Nunc sed odio vel arcu consectetur auctor at id velit. Aliquam non tincidunt dolor.
    = link_to 'Time converter website', 'http://www.worldtimebuddy.com/?pl=1&lid=2147714,2191562,4140963,5391959&h=2147714'
    and then a few more words just in case.
  %p
    = link_to 'www.twitter.com', 'https://twitter.com/'
    Aliquam non dolor eget sem viverra porta. Vestibulum faucibus iaculis placerat. Nulla sed purus hendrerit, varius lacus sit amet, imperdiet nulla. In hac habitasse platea dictumst.

  %div
    And of course you'll need some code

  %div
    something here
    - code("ruby") do
      :plain
        lucy

  %div
    Maybe even a photo or two
  .photos
    = image_tag 'http://placekitten.com/200/300'
    = image_tag 'http://placekitten.com/500/400'
  %p
    maybe with some nice text before
  .photos
    = image_tag 'http://placekitten.com/250/600'
  %p
    and more text after