---
title: Rails Girls Next Planning
---

%p
  Back in December Elle suggested running a continuation event for Rails Girls, something for the girls who had completed #{link_to 'Rails Girls', 'http://www.railsgirls.com'} and were looking for something else to push their Ruby/Rails education a bit further. I thought this was a great idea and wanted to be part of it. Elle suggested I organise it and make it happen (with a bunch of support from her and RubyConf), and I was really keen for the challenge and having a bigger role in the Ruby community. I'd talked with Elle and others about my frustrations with Rails Girls (and other, similar events) - it's a short-term, insperational event, but with no support for the attendees after the fact. This continuation from Rails Girls helped to answer that consern.
%p
  Today I got together with #{link_to 'Elle', 'http://twitter.com/aemeredith'}, #{link_to 'Greg', 'http://twitter.com/gregmcintyre'}, #{link_to 'Tim', 'http://twitter.com/tjmcewan'}, and #{link_to 'Joss', 'http://twitter.com/joshuapaling'} to discuss this continuation (dubbed Rails Girls Next), and what exercises the girls should cover. Each of these guys had previously helped with a Rails Girls event or had worked on exercises for new programmers on their own. We decided to have exercises for Test Driven Development, learning more about Ruby, and understanding a bit more of the web's nitty-gritty using Sinatra. Three exercises to be written by the three guys. I'm going to help as needed, but mostly focus on organising anything else that is needed for the event. For a similar future event I'd like to work on the exercises themselves, but as the main organiser I think delegating as much as possible is a great idea for this round.
%p
  I got us set up with a #{link_to 'Trello', 'https://trello.com'} board and wrote up some nice lists of things we need to do. It's a fair amount, but we've got over a month until the event - Feb 19, 2014.
%p
  Over the next few weeks I'll send out invitations to the women who have previous attended a Rails Girls event in Australia. Since this is the first Rails Girls Next anywhere in the world, none of the girls in other cities would have had the oportunity to attend one. Also on my list: come up with a schedule for the day, make slides, send out more reminders, write up site for the girls to use on the day, and a few other odds and ends.
%p
  Looking forward to it already!