---
summary: "Who to follow and where to look for community events."
---

%h1
  Programming Community in Sydney
%h2 Ruby on Rails
%ul
  %li
    Ruby on Rails Oceania (roro) -
    =link_to 'meetup', 'http://www.meetup.com/Ruby-On-Rails-Oceania-Sydney/'
  %li
    Rails Camp Australia -
    =link_to '@railscamp_au', 'https://twitter.com/railscamp_au'
  %li
    Rails Girls Australia -
    = link_to '@railsgirlsau', 'https://twitter.com/railsgirlsau'
  %li
    Rails Girls Sydney -
    = link_to '@railsgirlssyd', 'https://twitter.com/railsgirlssyd'
%h2 Everything else
%ul
  %li
    CSS -
    = link_to '@SydCSS', 'https://twitter.com/SydCSS'
  %li
    JS -
    = link_to '@sydjs', 'https://twitter.com/sydjs'
  %li
    Girl Geeks Dinners Sydney -
    = link_to '@GGDSydney', 'https://twitter.com/GGDSydney'
  %li
    Jobs -
    = link_to '@LookaheadSearch', 'https://twitter.com/LookaheadSearch'

